<section id="work">
    <div class="container">
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="work-wrapper">
                    <p>
                        <h4>Dziękujemy za przedpremierową rejestrację konta, to dla nas bardzo ważne :)</h4>                        
                        <hr />
                    </p>
                    <p>
                        <u>Na podany adres email wysłaliśmy wiadomość z prośbą o jego potwierdzenie.</u>
                        <br />
                    </p>
                    <p>
                        Jak pewnie wiesz, HookMe ruszy dopiero, gdy zarejestruje się odpowiednia ilość takich osób jak Ty.<br />
                        Chcemy, żebyście mogli cieszyć się możliwościami portalu od samego początku, a do tego potrzebni jesteście właśnie wy :)<br />
                        Zachęcamy więc do zapraszania swoich znajomych!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>