<section id="work">
    <div class="container">
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="work-wrapper">
                    <p>
                        <h4>Twój adres email został poprawnie zweryfikowany</h4>
                        <hr />
                    </p>
                    <p>
                        Na ten moment, to już wszystko :)                        
                        <br/>
                        Kiedy przyjdzie czas, poprosimy Cię o uzupełnienie profilu o dane niezbędne do zabawy z Hookme.
                    </p>
                    <p>
                        Już nie możemy się doczekać!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>