<!--HOME SECTION START-->
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/img/slider/1.png" />
                        </div>
                        <div class="item">  
                            <img src="~/Content/img/slider/2.png" />                
                        </div>
                        <div class="item">
                            <img src="~/Content/img/slider/3.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">    
            </div>
        </div>
    </div>
</div>
<div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>Jeszcze nie ruszyliśmy - dlaczego?</h2>
        <p>
            Ponieważ bez was nigdzie nie idziemy!
            Wasza obecność jest najważniejsza, dlatego zachęcamy do przedpremierowej rejestracji - dzięki temu randkowanie HookMe będzie możliwe od samego początku.
            Chcemy, żebyście od początku byli zadowoleni z możliwości HookMe.
            Z tego powodu podzieliliśmy nasz start na kilka etapów, które opisujemy poniżej.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    </div>
    @Html.Partial("~/Views/Account/Login.cshtml")    
</div>
<!--HOME SECTION END-->
<!--PRICING SECTION START-->
<section id="pricing">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Na jakim etapie jesteśmy?</h3>
                <hr />
            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="row db-padding-btm db-attached">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="light-pricing">
                            <div class="price">
                                1 etap
                                <small>Zakończony</small>
                            </div>
                            <div class="type">
                                Wstępna promocja
                            </div>
                            <ul>
                                <li><i class="glyphicon glyphicon-ok"></i>Fanpage HookMe </li>
                                <li><i class="glyphicon glyphicon-ok"></i>Promocje dla fanów </li>
                                <li><i class="glyphicon glyphicon-ok"></i>Partnerzy </li>
                            </ul>                            
                            <div class="pricing-footer">
                                <i class="ion-android-checkbox-outline larger"></i>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="light-pricing">
                            <div class="price">
                                2 etap
                                <small>Zakończony</small>
                            </div>
                            <div class="type">
                                Uruchomienie WWW
                            </div>
                            <ul>
                                <li><i class="glyphicon glyphicon-ok"></i>Ukończenie projektu </li>
                                <li><i class="glyphicon glyphicon-ok"></i>Testy </li>
                                <li><i class="glyphicon glyphicon-ok"></i>Publikacja strony </li>
                            </ul>
                            <div class="pricing-footer">
                                <i class="ion-android-checkbox-outline larger"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="light-pricing popular">
                            <div class="price">
                                3 etap
                                <small>W trakcie</small>
                            </div>
                            <div class="type">
                                Rozpoczęcie rejestracji
                            </div>
                            <ul>
                                <li><i class="glyphicon glyphicon-ok"></i>Rozpoczęcie rejestracji </li>
                                <li><i class="glyphicon glyphicon-remove"></i>1000+ użytkowników </li>
                                <li><i class="glyphicon glyphicon-remove"></i>Zakończenie rejestracji pre-order </li>
                            </ul>
                            <div class="pricing-footer">
                                <i class="ion-android-checkbox-outline-blank larger"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="light-pricing">
                            <div class="price">
                                4 etap
                                <small>Oczekujący</small>
                            </div>
                            <div class="type">
                                Uruchomienie HookMe
                            </div>
                            <ul>
                                <li><i class="glyphicon glyphicon-remove"></i>Start funkcjonalności WWW </li>
                                <li><i class="glyphicon glyphicon-remove"></i>Uruchomienie funkcji premium </li>
                                <li><i class="glyphicon glyphicon-remove"></i>Uruchomienie aplikacji na telefon </li>
                            </ul>
                            <div class="pricing-footer">
                                <i class="ion-android-checkbox-outline-blank larger"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</section>
<!--PRICING SECTION END-->
<!--Czym jest HookMe? SECTION START-->
<section id="services">
    <div class="container">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                <h3>Czym jest HookMe?</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="services-wrapper">
                    <i class="ion-android-favorite"></i>
                    <h3>Portal randkowy</h3>
                    HookMe to zupełnie nowe spojrzenie na portale randkowe.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="services-wrapper">
                    <i class="ion-help-circled"></i>
                    <h3>Tajemnica</h3>
                    Żadnych zdjęć, imion, nicków, telefonów.
                    Tylko wy i wasza tajemnica.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="services-wrapper">
                    <i class="ion-fireball"></i>
                    <h3>Przygoda</h3>
                    HookMe to przygoda. Dla dorosłych odważnych ludzi.
                    Codziennie od nowa.
                </div>
            </div>            
        </div>
    </div>
    <div class="container">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                <h3>Jak widzimy nowoczesne randkowanie?</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="services-wrapper">
                    <i class="ion-arrow-right-b"></i>
                    <h3>Szybki start</h3>
                    Logujesz się w HookMe i włączasz RADAR - za pomocą telefonu lub strony internetowej, jak wolisz.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="services-wrapper">
                    <i class="ion-android-time"></i>
                    <h3>Czekasz na dopasowanie</h3>
                    Na telefon dostajesz informację o dopasowaniu drugiej osoby. 
                    Tutaj zaczyna się Twoja przygoda.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="services-wrapper">
                    <i class="ion-android-chat"></i>
                    <h3>Spotkanie</h3>
                    Wymieniacie ze sobą do 3 wiadomości i akceptujecie spotkanie. Albo nie.
                    Decyzja należy do was.
                </div>
            </div>
        </div>
    </div>
</section>
<!--Czym jest HookMe? SECTION END-->
<!--WORK SECTION START
<section id="work">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Our Works</h3>
                <hr />
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                <div class="caegories">
                    <a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">All</a>
                    <a href="#" data-filter=".html" class="btn btn-custom btn-custom-two btn-sm">HTML</a>
                    <a href="#" data-filter=".css" class="btn btn-custom btn-custom-two btn-sm">CSS</a>
                    <a href="#" data-filter=".code" class="btn btn-custom btn-custom-two btn-sm">CODE</a>
                    <a href="#" data-filter=".script" class="btn btn-custom btn-custom-two btn-sm">SCRIPT</a>
                </div>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="~/Content/img/portfolio/1.jpg">
                        <img src="~/Content/img/portfolio/1.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html css">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="~/Content/img/portfolio/2.jpg">

                        <img src="~/Content/img/portfolio/2.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 code script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="~/Content/img/portfolio/3.jpg">

                        <img src="~/Content/img/portfolio/3.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="~/Content/img/portfolio/4.jpg">

                        <img src="~/Content/img/portfolio/4.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="~/Content/img/portfolio/5.jpg">

                        <img src="~/Content/img/portfolio/5.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="~/Content/img/portfolio/6.jpg">

                        <img src="~/Content/img/portfolio/6.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
        </div>
    </div>
</section>
WORK SECTION END-->
<!--TEAM SECTION START-->
<section id="team">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Polecamy </h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('/Content/img/polecamy/hookme_fanpage.jpg')">
                        <a href="https://www.facebook.com/hookmepl/" target="_blank"> <i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="description">
                        <h3> HookMe</h3>
                        <h5> <strong> Fanpage </strong></h5>
                        <p>
                            Znajdziecie tutaj informacje o HookMe, nowości, promocje.
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('/Content/img/polecamy/szampan.jpg')">
                        <a href="http://www.szampanisekrety.com/" target="_blank"> <i class="ion-ios-world"></i></a>   
                    </div>
                    <div class="description">
                        <h3> Szampan i Sekrety</h3>
                        <h5> <strong> Apartament </strong></h5>
                        <p>
                            Marzysz o randce w niezwykłej scenerii?                           
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">                    
                        <div class="team-inner" style="background-image: url('/Content/img/polecamy/swing.jpg')">
                            <a href="http://www.swingwithme.pl" target="_blank"> <i class="ion-ios-world"> </i></a>                            
                        </div>                    
                    <div class="description">
                        <h3> Swing With Me</h3>
                        <h5> <strong> Blog </strong></h5>
                        <p>
                            Świątynia polskiego swingu.</hr>
                            Blog tematyczny dla swingersów.
                        </p>
                    </div>
                </div>
            </div>  
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('/Content/img/polecamy/najlepszaerotyka.jpg')">
                        <a href="https://www.najlepszaerotyka.com.pl/" target="_blank"> <i class="ion-ios-world"></i></a>
                    </div>
                    <div class="description">
                        <h3> Najlepsza Erotyka</h3>
                        <h5> <strong> Opowiadania erotyczne </strong></h5>
                        <p>
                            Starannie wyselekcjonowane opowiadania erotyczne.
                        </p>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</section>
<!--<TEAM SECTION END-->
<!--GRID SECTION START
<section id="grid">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Grid Overview </h3>
                <hr />

            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h2>1/4 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h2>1/4 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h2>1/4 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h2>1/4 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2>1/3 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2>1/3 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2>1/3 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>

        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>1/2 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>1/2 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>


        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Full Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>



        </div>
    </div>
</section>
GRID SECTION END-->
<!--CONTACT SECTION START
<section id="contact">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Contact Details </h3>
                <hr />

            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>We Are Social</h3>
                    <p>
                        Aliquam tempus ante placerat,
                        consectetur tellus nec, porttitor nulla.
                    </p>
                    <div class="social-below">
                        <a href="#" class="btn button-custom btn-custom-two"> Facebook</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Twitter</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Google +</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Quick Contact</h3>
                    <h4><strong>Email : </strong> info@yuordomain.com </h4>
                    <h4><strong>Call : </strong> +09-88-99-77-55 </h4>
                    <h4><strong>Skype : </strong> Yujhaeu78 </h4>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Address : </h3>
                    <h4>230/45 , New way Lane , </h4>
                    <h4>United States</h4>
                    <div class="footer-div">
                        &copy; 2015 YourDomain | <a href="http://www.designbootstrap.com/" target="_blank">by DesignBootstrp</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<CONTACT SECTION END-->